$orange: #ED632F;
$orange-transparent: #ED632FDB;
$white: #FFFFFF;
$white-transparent: #FFFFFFB8;
$lt-grey-1: #F3F3F3;
$lt-grey-2: #E8E8E8;
$lt-grey-3: #989898;
$dk-grey-1: #707070;
$dk-grey-2: #333333;
$dk-grey-3: #1D1D1D;
$black: #000000;