@mixin txt {
    &__txt {
        z-index: 1;
        color: $white;
        margin-top: 1.5em;
        font-weight: normal;
        font-family: 'poppins-medium', 'Poppins', sans-serif;
        &--bold {
            font-family: 'poppins-bold', 'Poppins', sans-serif;
            padding-right: .25em;
        }
        @media (min-width: 768px) {
            margin-top: 0;
            br {
                display: none;
            }
        }
    }
}