@mixin form {
    &__form {
        order: 1;
        margin-top: 3em;
        max-width: 470px;
        align-self: center;
        @media (min-width: 992px) {
            order: 2;
            margin-top: -3em;
        }
        form {
            .form-control {
                color: $white;
                border-radius: .10rem;
                padding: 0.5rem 1.75rem;
                background-color: $black;
                height: calc(2.4em + 0.95rem + 5px);
            }
            button.btn.btn-outline-orange {
                width: 100%;
                color: $orange;
                font-size: small;
                text-align: left;
                margin-top: 1.5em;
                padding: 1rem 1.75rem;
                border-color: $orange;
                border-radius: .10rem;
                text-transform: uppercase;
                @media (min-width: 992px) {
                    width: auto;
                }
            }
        }
        &__arrow-img {
            width: 19px;
            height: 22px;
            float: right;
            margin-left: 0;
            @media (min-width: 992px) {
                margin-left: 2em;
            }
        }
    }
}