.footer {
    background-color: $white;
    &__container {
        padding: 1em;
        &__logo--black {
            width: 98px;
            height: 50px;
        }
    }
    &__container > small {
        color: $dk-grey-3;
        font-family: 'poppins-medium', 'Poppins', sans-serif;
    }
    @media (min-width: 992px) {
        &__container {
            padding: 1em 0;
        }
        &__container > small > br {
            display: none;
        }
    }
}