.footer {
    background-color: $white;
    &__container {
        padding: 1em;
        &__logo--black {
            width: 110px;
            height: 60px;
        }
    }
    &__container > small {
        color: $dk-grey-3;
        font-family: "poppinsmedium";
    }
    @media (min-width: 992px) {
        &__container {
            padding: 1em 0;
        }
        &__container > small > br {
            display: none;
        }
    }
}