.hero {
    flex-direction: column;
    height: 75vh;
    @media (min-width: 992px) {
        flex-direction: row;
    }
    &__link {
        flex: 1;
        &:hover {
           text-decoration: none;
        }
        &:active, &:visited {
            color: $white;
            text-decoration: none;
        }
    }
    &__container {
        flex: 1;
        &__arrow {
            width: 27px;
            height: 33px;
            display: flex;
            margin-right: 1.5em;
            box-sizing: border-box;
        }
        &__txt {
            color: $white;
            margin-top: 1.5em;
            font-weight: normal;
            font-family: "poppinsmedium";
            &--bold {
                font-family: "poppinsbold";
                padding-right: .25em;
            }
            @media (min-width: 768px) {
                margin-top: 0;
                br {
                    display: none;
                }
            }
        }
        &.bg-handshake {
            background-image: url('../assets/img/handshake-min.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter: grayscale(100%);
        }
        &.bg-notes {
            background-image: url('../assets/img/notes-min.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter: grayscale(100%);
        }
    }
}