@font-face {
  font-family: "poppinsbold";
  src: url("../assets/fonts/poppins-bold-webfont.woff2") format("woff2"), url("../assets/fonts/poppins-bold-webfont.woff") format("woff"), url("../assets/fonts/poppins-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsmedium";
  src: url("../assets/fonts/poppins-medium-webfont.woff2") format("woff2"), url("../assets/fonts/poppins-medium-webfont.woff") format("woff"), url("../assets/fonts/poppins-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsregular";
  src: url("../assets/fonts/poppins-regular-webfont.woff2") format("woff2"), url("../assets/fonts/poppins-regular-webfont.woff") format("woff"), url("../assets/fonts/poppins-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinssemibold";
  src: url("../assets/fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../assets/fonts/poppins-semibold-webfont.woff") format("woff"), url("../assets/fonts/poppins-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  background-color: #1D1D1D;
}
.navbar__logo--white {
  width: 90px;
  height: 49px;
}

.hero {
  flex-direction: column;
  height: 75vh;
}
@media (min-width: 992px) {
  .hero {
    flex-direction: row;
  }
}
.hero__link {
  flex: 1;
}
.hero__link:hover, .hero__link:active, .hero__link:visited {
  text-decoration: none;
}
.hero__container {
  flex: 1;
}
.hero__container__arrow {
  width: 27px;
  height: 33px;
  display: flex;
  margin-right: 1.5em;
  box-sizing: border-box;
}
.hero__container__txt {
  color: #FFFFFF;
  margin-top: 1.5em;
  font-weight: normal;
  font-family: "poppinsmedium";
}
.hero__container__txt--bold {
  font-family: "poppinsbold";
  padding-right: 0.25em;
}
@media (min-width: 768px) {
  .hero__container__txt {
    margin-top: 0;
  }
  .hero__container__txt br {
    display: none;
  }
}
.hero__container.bg-handshake {
  background-image: url("../assets/img/handshake-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
.hero__container.bg-notes {
  background-image: url("../assets/img/notes-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.video {
  height: 75vh;
}
.video.bg-video {
  background-image: url("../assets/img/living-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.8;
}
.video__icon {
  width: 88px;
  height: 88px;
}

.certificate {
  margin: 6.25em 0;
}
.certificate__container__txt {
  color: #1D1D1D;
  font-size: x-small;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "poppinsregular";
}
.certificate__container__headline {
  margin: 0;
  color: #000000;
  font-size: 4em;
  font-family: "poppinsregular";
}
.certificate__container__headline--border {
  -webkit-text-stroke: 2px #000000;
  color: transparent;
}
.certificate__container__headline--left {
  text-align: left;
}
.certificate__container__headline--right {
  text-align: right;
}
.certificate__container__box {
  margin: 3.25em 0;
  flex-direction: column;
}
@media (min-width: 992px) {
  .certificate__container__box {
    flex-direction: row;
  }
}
.certificate__container__box__text-content {
  flex: 1;
  order: 1;
}
@media (min-width: 992px) {
  .certificate__container__box__text-content {
    order: 1;
  }
}
.certificate__container__box__text-content__headline, .certificate__container__box__text-content__paragraph {
  margin: 0;
}
.certificate__container__box__text-content__headline {
  font-size: large;
  font-family: "poppinsbold";
}
.certificate__container__box__text-content__paragraph {
  font-size: smaller;
}
.certificate__container__box__list {
  flex: 1;
  order: 3;
  margin: 0;
  align-self: start;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .certificate__container__box__list {
    order: 2;
    margin: 0 2.5em;
    align-self: center;
  }
}
.certificate__container__box__list ul {
  margin: 0;
  padding: 0;
  color: #ED632F;
  list-style: none;
}
ul > li > .certificate__container__box__list__check-img {
  width: 25px;
  height: 22px;
}
.certificate__container__box__cert-img {
  order: 2;
  width: 250px;
  height: 188px;
  margin: 3em 0 2em;
}
@media (min-width: 992px) {
  .certificate__container__box__cert-img {
    order: 3;
    margin: 1em 0 0 0;
    width: 190px;
    height: 144px;
  }
}
.certificate__container__bottom-content {
  flex-direction: column;
}
.certificate__container__bottom-content__line {
  width: 15px;
  height: 3px;
  margin-bottom: 0.5em;
  background-color: #000000;
}
.certificate__container__bottom-content__txt {
  margin: 0;
  font-family: "poppinsmedium";
}

.register {
  padding: 6.25em 0;
  background-color: #000000;
}
.register__header__text {
  color: #FFFFFF;
  font-size: x-small;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "poppinsregular";
}
@media (min-width: 992px) {
  .register__header__text::after {
    right: 0;
    width: 35%;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #FFFFFF;
  }
}
.register__text-content {
  flex-direction: column;
}
@media (min-width: 992px) {
  .register__text-content {
    flex-direction: row;
  }
}
.register__text-content div.d-flex {
  flex: 1;
}
.register__text-content__arrow-img {
  width: 60px;
  height: 30px;
}
@media (min-width: 576px) {
  .register__text-content__arrow-img {
    width: 128px;
    height: 57px;
  }
}
.register__text-content__headline {
  flex: 1;
  color: #ED632F;
  font-size: 1.8em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
@media (min-width: 576px) {
  .register__text-content__headline {
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  .register__text-content__headline {
    font-size: 3em;
    flex-direction: row;
  }
}
.register__text-content__subheadline {
  flex: 1;
  color: #FFFFFF;
  max-width: 210px;
  margin-left: 74px;
}
@media (min-width: 576px) {
  .register__text-content__subheadline {
    margin-left: 144px;
  }
}
@media (min-width: 768px) {
  .register__text-content__subheadline {
    margin-left: 153px;
  }
}
.register__box__box-content {
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .register__box__box-content {
    flex-direction: row;
    align-items: flex-end;
  }
}
.register__box__box-content__links {
  flex: 1;
  order: 2;
  margin-top: 3em;
  color: #333333;
  align-self: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .register__box__box-content__links {
    order: 1;
    margin-top: 0;
    align-self: flex-end;
  }
}
.register__box__box-content__links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .register__box__box-content__links ul {
    font-size: 1.25em;
    text-align: left;
    flex-direction: row;
  }
}
.register__box__box-content__links ul li > a {
  color: #333333;
}
.register__box__box-content__links ul li > a:hover, .register__box__box-content__links ul li > a:active, .register__box__box-content__links ul li > a:visited {
  text-decoration: none;
}
@media (min-width: 992px) {
  .register__box__box-content__links ul li:nth-child(-n+3) {
    margin-right: 0.5em;
  }
  .register__box__box-content__links ul li:nth-child(-n+3) a::after {
    content: " /";
  }
}
.register__box__box-content__form {
  order: 1;
  margin-top: 3em;
  align-self: center;
}
@media (min-width: 992px) {
  .register__box__box-content__form {
    order: 2;
    margin-top: -3em;
  }
}
.register__box__box-content__form form .form-control {
  color: #FFFFFF;
  border-radius: 0.1rem;
  padding: 0.5rem 1.75rem;
  background-color: #000000;
  height: calc(2.4em + 0.95rem + 5px);
}
.register__box__box-content__form form button.btn.btn-outline-orange {
  width: 100%;
  color: #ED632F;
  font-size: small;
  text-align: left;
  margin-top: 1.5em;
  padding: 1rem 1.75rem;
  border-color: #ED632F;
  border-radius: 0.1rem;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .register__box__box-content__form form button.btn.btn-outline-orange {
    width: auto;
  }
}
.register__box__box-content__form__arrow-img {
  width: 19px;
  height: 22px;
  float: right;
  margin-left: 0;
}
@media (min-width: 992px) {
  .register__box__box-content__form__arrow-img {
    margin-left: 2em;
  }
}

.footer {
  background-color: #FFFFFF;
}
.footer__container {
  padding: 1em;
}
.footer__container__logo--black {
  width: 110px;
  height: 60px;
}
.footer__container > small {
  color: #1D1D1D;
  font-family: "poppinsmedium";
}
@media (min-width: 992px) {
  .footer__container {
    padding: 1em 0;
  }
  .footer__container > small > br {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
