@font-face {
  font-family: "poppinsbold";
  src: url("../assets/fonts/poppins-bold-webfont.woff2") format("woff2"), url("../assets/fonts/poppins-bold-webfont.woff") format("woff"), url("../assets/fonts/poppins-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsmedium";
  src: url("../assets/fonts/poppins-medium-webfont.woff2") format("woff2"), url("../assets/fonts/poppins-medium-webfont.woff") format("woff"), url("../assets/fonts/poppins-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsregular";
  src: url("../assets/fonts/poppins-regular-webfont.woff2") format("woff2"), url("../assets/fonts/poppins-regular-webfont.woff") format("woff"), url("../assets/fonts/poppins-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinssemibold";
  src: url("../assets/fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../assets/fonts/poppins-semibold-webfont.woff") format("woff"), url("../assets/fonts/poppins-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  background-color: #1D1D1D;
}
.navbar__logo--white {
  width: 90px;
  height: 49px;
}

.hero {
  flex-direction: column;
  height: 75vh;
}
@media (min-width: 992px) {
  .hero {
    flex-direction: row;
  }
}
.hero__link {
  flex: 1;
}
.hero__link:hover {
  text-decoration: none;
}
.hero__link:active, .hero__link:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.hero__container {
  flex: 1;
}
.hero__container__arrow {
  width: 27px;
  height: 33px;
  display: flex;
  margin-right: 1.5em;
  box-sizing: border-box;
}
.hero__container__txt {
  color: #FFFFFF;
  margin-top: 1.5em;
  font-weight: normal;
  font-family: "poppinsmedium";
}
.hero__container__txt--bold {
  font-family: "poppinsbold";
  padding-right: 0.25em;
}
@media (min-width: 768px) {
  .hero__container__txt {
    margin-top: 0;
  }
  .hero__container__txt br {
    display: none;
  }
}
.hero__container.bg-handshake {
  background-image: url("../assets/img/handshake-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
.hero__container.bg-notes {
  background-image: url("../assets/img/notes-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.video {
  height: 75vh;
}
.video.bg-video {
  background-image: url("../assets/img/living-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.8;
}
.video__icon {
  width: 88px;
  height: 88px;
}

.certificate {
  margin: 6.25em 0;
}
.certificate__container__txt {
  color: #1D1D1D;
  font-size: x-small;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "poppinsregular";
}
.certificate__container__headline {
  margin: 0;
  color: #000000;
  font-size: 4em;
  font-family: "poppinsregular";
}
.certificate__container__headline--border {
  -webkit-text-stroke: 2px #000000;
  color: transparent;
}
.certificate__container__headline--left {
  text-align: left;
}
.certificate__container__headline--right {
  text-align: right;
}
.certificate__container__box {
  margin: 3.25em 0;
  flex-direction: column;
}
@media (min-width: 992px) {
  .certificate__container__box {
    flex-direction: row;
  }
}
.certificate__container__box__text-content {
  flex: 1;
  order: 1;
}
@media (min-width: 992px) {
  .certificate__container__box__text-content {
    order: 1;
  }
}
.certificate__container__box__text-content__headline, .certificate__container__box__text-content__paragraph {
  margin: 0;
}
.certificate__container__box__text-content__headline {
  font-size: large;
  font-family: "poppinsbold";
}
.certificate__container__box__text-content__paragraph {
  font-size: smaller;
}
.certificate__container__box__list {
  flex: 1;
  order: 3;
  margin: 0;
  align-self: start;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .certificate__container__box__list {
    order: 2;
    margin: 0 2.5em;
    align-self: center;
  }
}
.certificate__container__box__list ul {
  margin: 0;
  padding: 0;
  color: #ED632F;
  list-style: none;
}
ul > li > .certificate__container__box__list__check-img {
  width: 25px;
  height: 22px;
}
.certificate__container__box__cert-img {
  order: 2;
  width: 250px;
  height: 188px;
  margin: 3em 0 2em;
}
@media (min-width: 992px) {
  .certificate__container__box__cert-img {
    order: 3;
    margin: 1em 0 0 0;
    width: 190px;
    height: 144px;
  }
}
.certificate__container__bottom-content {
  flex-direction: column;
}
.certificate__container__bottom-content__line {
  width: 15px;
  height: 3px;
  margin-bottom: 0.5em;
  background-color: #000000;
}
.certificate__container__bottom-content__txt {
  margin: 0;
  font-family: "poppinsmedium";
}

.footer {
  background-color: #FFFFFF;
}
.footer__container {
  padding: 1em;
}
.footer__container__logo--black {
  width: 110px;
  height: 60px;
}
.footer__container > small {
  color: #1D1D1D;
  font-family: "poppinsmedium";
}
@media (min-width: 992px) {
  .footer__container {
    padding: 1em 0;
  }
  .footer__container > small > br {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
